.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 20PX;
    margin-left: 120px;
    background-color: #C9C3B9;
}

.main-container-principla__image{
    width: 500px;
    height: 320px;
    padding: 15px;
    border-radius: 10px;
}

